.container {
  width: 100%;
  position: absolute;
  height: 100vh;
  top: 0;
  z-index: -1;
  left: 0;
}

.topMask {
  height: 60vw;
  background: linear-gradient(
      180deg,
      rgba(15, 16, 20, 0) 73.08%,
      rgba(15, 16, 20, 0.01) 77.84%,
      rgba(15, 16, 20, 0.05) 79.74%,
      #0f1014
    ),
    linear-gradient(
      90deg,
      #0f1014,
      rgba(15, 16, 20, 0.8) 7.31%,
      rgba(15, 16, 20, 0.52) 15.54%,
      rgba(15, 16, 20, 0.12) 29.73%,
      rgba(15, 16, 20, 0) 40.59%
    );
}

.bottomMask {
  width: 100%;
  box-sizing: border-box;
  padding-left: 112px;
  padding-bottom: 80px;
  position: absolute;
  background-color: rgb(15, 16, 20);
}
