.container {
  height: 150px;
  margin: 12px 0;
  display: flex;
  padding: 8px 0;
}

.imageWrapper {
  width: 200px;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 8px;
  background-color: gray;
}

.detailsWrapper {
  margin-left: 32px;
}

.detailsWrapper > h3 {
  margin: 6px 0 0;
  color: white;
  font-size: 18px;
}

.episodeSummary {
  font-size: 14px;
  color: white;
  line-height: 25px;
}

.episodeSummary > b {
  margin: 0 6px;
}

.desc {
  font-size: 14px;
  color: white;
}
